#left_dropdown_menu {
    position:absolute;
    top: 8%;
    left: 3%;
    width: 25%;
} 

#library_dropdown{
    width: fit-content;
} 

#toolbar{
    position:absolute;
    width: 100%; 
}

.navbar {
    --bs-navbar-padding-y: 0.0rem;    
}

.accordion {
    --bs-accordion-btn-padding-y: 0.5rem;
}

#componentTable {
    width:100%;
}

#componentTable .clickable{
    cursor: pointer;
}

#componentTable .clickable:hover{
    background-color: darkcyan;
    cursor: pointer;
} 

/* #componentTable .clickable:active{
    background-color: darkcyan;
    cursor: pointer;
}  */

tr .clickable .active{ 
    background-color: darkcyan;
    cursor: pointer;
} 
